@charset "UTF-8";
/* Estilos globales */
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
  line-height: 2;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "PT Sans", sans-serif;
  line-height: 1.3;
  font-weight: bold;
}

h1 {
  font-size: 4.8rem;
}

h2 {
  font-size: 4rem;
  font-weight: 800;
  text-align: center;
  margin-bottom: 2.5rem;
}

h3 {
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 2.5rem;
}

h4 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h5 {
  font-size: 1.8rem;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}

p {
  font-family: "Open Sans", sans-serif;
}

img {
  max-width: 100%;
}

/* LAYOUT - GRID */
/* Estilos para tablet y desktop */
@media (min-width: 768px), (min-width: 1280px) {
  body {
    display: grid;
    grid-template-rows: auto auto auto auto;
  }
  /*Columnas index - Columnas nuestrasguias*/
  .grid-container main section {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 4rem;
  }
  .grid-container .nuestras-guias div {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    column-gap: 2rem;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}
/* MEDIDAS RESPONSIVES GENERALES PARA EL MAIN */
/* Mobile */
main {
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
}

/*tablet y desktop*/
@media (min-width: 768px), (min-width: 1280px) {
  main {
    max-width: 120%;
  }
}
/* Estilos para el Header: background únicamente para Index y Contacto*/
.bg-img {
  background-image: url(../img/bg.jpg);
  background-size: cover;
  font-family: "PT Sans", sans-serif;
  color: #ffffff;
  margin-top: 120px;
}

@media (min-width: 768px), (min-width: 1280px) {
  .bg-img {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    font-family: "PT Sans", sans-serif;
    color: #ffffff;
    padding: 10rem;
    margin-top: 15px;
  }
}
/* Estilos para el Logo: Header: NAV y Footer */
a {
  color: #ffffff;
}
a h1,
a h2 {
  font-weight: 400;
  margin: 0;
  text-align: center;
}
a span {
  font-weight: bold;
}
a h1 span span {
  align-items: center;
}

/*transición del Logo*/
#logo-booster a {
  transform: rotateY(0deg);
}
#logo-booster:hover {
  transform: rotateY(360deg);
  color: #414141;
  transition: rotateY 12s, ease-in-out 0.9s;
}

/* Estilos para el Nav */
/* Nav mobile version */
header nav {
  background-color: #000;
  min-width: 100%;
  padding: 6px;
  align-items: center;
  gap: 1rem;
  position: fixed;
  top: 0;
  z-index: 9999;
}
header nav #position {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 1px;
  align-items: center;
}
header nav #position #iconos-pages a {
  margin-right: -1rem;
}
header nav #position #iconos-pages a img {
  padding: 2px;
  min-width: 100%;
}
header nav #logo-booster {
  align-items: center;
}

/*Nav tablet y desktop version*/
@media (min-width: 768px), (min-width: 1280px) {
  header nav {
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  header nav #logo-booster {
    margin-left: 20px;
    align-items: center;
  }
  header nav #iconos-pages {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
}
/*Iconos: interactivos del nav*/
nav #iconos-pages:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}

/*Estilos del footer*/
/*Enlaces-Iconos: interactivos del footer*/
footer a:hover {
  color: #6156a4;
}
footer div svg:hover {
  transform: scale(1.3);
  transition: transform 0.3s ease;
}

/*Estilos del INDEX */
/*Contenido principal*/
main article {
  border-bottom: 0.5px solid var(--gris);
  margin-bottom: 2rem;
}
main article:last-of-type {
  border: none;
  margin-bottom: 0;
}
main article h4 {
  margin-top: 10px;
  margin-bottom: 9px;
}
main article a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: none;
  display: block;
  background-color: #000;
  color: #ffffff;
  font-family: "PT Sans", sans-serif;
  font-size: 1.8rem;
  padding: 1rem 3rem;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  main article a {
    display: inline-block;
  }
  main article a:hover {
    cursor: pointer;
    background-color: #6156a4;
    color: #000;
  }
}
/* Contenido del Aside */
@media (min-width: 768px), (min-width: 1280px) {
  aside {
    position: relative;
    top: 90px;
  }
}
aside h4 {
  margin-bottom: 15px;
}
aside article a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: #6156a4;
  color: #000;
  font-family: "PT Sans", sans-serif;
  font-size: 1.8rem;
  display: block;
  padding: 1rem 3rem;
  margin-top: 3px;
  margin-bottom: 1rem;
}
aside article a:hover {
  cursor: pointer;
  background-color: #000;
  color: #ffffff;
}

/* Estilos para contacto */
section {
  margin-top: 80px;
  margin-bottom: 50px;
}

form {
  background-color: #000;
  width: min(60rem, 100%);
  margin: 0 auto;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.4);
}
form fieldset {
  border: none;
}
form legend {
  text-align: center;
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #ffffff;
  font-weight: bold;
}

/* Clases para contacto */
@media (min-width: 768px) {
  .contenedor-campos {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto 20rem;
    column-gap: 1rem;
  }
}
.contenedor-campos div {
  margin-bottom: 1rem;
}
.contenedor-campos div:nth-child(3), .contenedor-campos div:nth-child(4) {
  grid-column: 1/3;
}
.contenedor-campos div label {
  color: #ffffff;
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
}
.contenedor-campos div textarea {
  height: 20rem;
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
  resize: none;
}
.contenedor-campos input {
  width: 100%;
  border: none;
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.boton-2 {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  border: none;
  background-color: #414141;
  color: #ffffff;
  padding: 1rem 3rem;
  margin-top: 5rem;
  margin-bottom: 5rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
}
.boton-2:hover {
  cursor: pointer;
  font-weight: bold;
  border: 2.5px solid #ffffff;
  transition: #000 0.5s;
  color: #ffffff;
}

/* Estilos para noticias */
.noticias {
  margin-top: 140px;
}

article div {
  text-align: center;
}
article div p {
  margin-top: 20px;
}

@media (min-width: 768px), (min-width: 1280px) {
  article div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0 40px 0;
  }
  article div p {
    margin-left: 10px;
  }
}
/* Estilos para nuestrasguias */
.nuestras-guias {
  margin-top: 140px;
}
.nuestras-guias p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.nuestras-guias ul,
.nuestras-guias li {
  list-style: none;
  text-align: start;
  font-family: "Open Sans", sans-serif;
}
.nuestras-guias article p {
  text-align: center;
}
.nuestras-guias div img {
  min-width: 70%;
}
.nuestras-guias span {
  font-weight: bold;
}

/* Estilos para valorant */
.valorant {
  margin-top: 140px;
}
.valorant article p {
  text-align: center;
}
.valorant h5 {
  text-align: center;
}

video {
  width: 100%;
  height: 50%;
  border: 0.5px solid #000;
  box-shadow: 0 0 6px #6156a4;
}

/*# sourceMappingURL=style.css.map */
